.cggffi-tab-content {
    max-width: 69.5rem;
    margin: auto;
}

.cggffi_inventory_single,
.cggffi_choice_inventory_table {
    background: #fff;
    padding: 16px;
    border: 1px solid #ddd;
    margin: 40px 0px;
    box-shadow: 0px 1px 4px #00000014;
}

.cggffi_inventory_single h3,
.cggffi_choice_inventory_table h3 {
    font-size: 18px;
    margin: 0;
}

.cggffi_inventory_single .cggffi_inventory_single_content {
    background: #f8f9ff;
    padding: 20px;
    margin-top: 20px;
}

.cggffi_inventory_single .cggffi_inventory_single_content h4 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

.cggffi_inventory_single .cggffi_inventory_single_content span.inventory_count {
    font-size: 30px;
    font-weight: 700;
}

.cggffi_choice_inventory_table table {
    margin-top: 20px;
    width: 100%;
    border-spacing: unset;
}

.cggffi_choice_inventory_table table thead tr th:first-child,
.cggffi_choice_inventory_table table tbody tr td:first-child {
    text-align: left;
}

.cggffi_choice_inventory_table table thead tr th:last-child,
.cggffi_choice_inventory_table table tbody tr td:last-child {
    text-align: right;
}

.cggffi_choice_inventory_table table thead tr th,
.cggffi_choice_inventory_table table tbody tr td {
    padding: 12px;
}

.cggffi_choice_inventory_table table tbody tr:nth-child(odd) td {
    background: #f8f9ff;
}





/** Features Tabing Start **/
body.forms_page_cg_gf_features {
    background: #f6f9fc;
    color: #242748;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.forms_page_cg_gf_features #wpcontent {
    padding-left: 0;
}

.gform-settings-header {
    background-color: #fff;
    block-size: 75px;
    border-bottom: 1px solid #ecedf8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    display: flex;
    inline-size: 100%;
    margin-top: 1px;
}

.gform-settings-header .gform-settings__wrapper {
    align-items: center;
    block-size: 75px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    inline-size: 100%;
    justify-content: space-between;
    padding-block: 0;
}

.forms_page_cg_gf_features .gform-settings-header .gform-settings__wrapper {
    margin: 0 2rem;
    max-width: none;
    padding: 0;
}

.cggff_settings_wrap .cggff_container {
    margin: auto;
    max-width: 1100px;
}

.cggff_settings_wrap .cggff_container .cggff_features_tabs ul {
    display: flex;
    flex-direction: row;
    gap: 0px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    margin-top: 28px;
}

.cggff_settings_wrap .cggff_container .cggff_features_tabs li {
    padding: 8px 16px;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cggff_settings_wrap .cggff_container .cggff_features_tabs li span.cggff_count {
    width: 24px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.cggff_settings_wrap .cggff_container .cggff_features_tabs li.active {
    border-bottom: 1px solid #ff4f00;
    background: #fff;
}
.cggff_features_grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 3fr 3fr 3fr;
}

.cggff_settings_wrap .cggff_container .cggff_features_grid .cggff_feature_card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px #00000012;
}

.cggff_settings_wrap .cggff_container .cggff_features_grid .cggff_feature_card .cggff_feature_card__head {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.cggff_settings_wrap .cggff_container .cggff_features_grid .cggff_feature_card .cggff_feature_card__head .cggff_fc_hd_start {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cggff_settings_wrap .cggff_container .cggff_features_grid .cggff_feature_card .cggff_feature_card__head span.cggff_feat_icon {
    background: #f9f9f9;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cggff_settings_wrap .cggff_container .cggff_features_grid .cggff_feature_card .cggff_feature_card__head .cggff_toggle_action label input {
    opacity: 0;
    visibility: hidden;
}

.cggff_settings_wrap .cggff_container .cggff_features_grid .cggff_feature_card .cggff_feature_card__head .cggff_toggle_action label {
    display: block;
    background: #eee;
    width: 40px;
    height: 20px;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    border: 1px solid #ddd;
}

.cggff_settings_wrap .cggff_container .cggff_features_grid .cggff_feature_card .cggff_feature_card__head .cggff_toggle_action label:after {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #ccc;
    z-index: 9999;
    border: 0px solid #ddd;
    transition: left .7s cubic-bezier(0.76, -1.32, 0.29, 2.2);
}

.cggff_settings_wrap .cggff_container .cggff_features_grid .cggff_feature_card .cggff_feature_card__head .cggff_toggle_action label:has(input:checked) {
    background: #f3d8cc;
    border-color: #d59273;
}

.cggff_settings_wrap .cggff_container .cggff_features_grid .cggff_feature_card .cggff_feature_card__head .cggff_toggle_action label:has(input:checked)::after {
    background: #d59273;
    left: 23px;
}

.cggff_settings_wrap .cggff_container .cggff_features_grid .cggff_feature_card .cggff_feature_card__head h4 {
    margin: 0;
    font-size: 16px;
}

.cggff_settings_wrap .cggff_container .cggff_features_grid .cggff_feature_card .cggff_feature_card__body p {
    font-size: 12px;
    color: #888;
}

.cggff_settings_wrap .cggff_container .cggff_features_grid .cggff_feature_card .cggff_feature_card__body button.cggff_view_feature_details {
    border: 0;
    background: no-repeat;
    padding: 0;
    color: #ff4f00;
    text-decoration: underline;
    cursor: pointer;
}


/** Features Tabing End **/